body		{font-family: "Toms Handwriting", Cooper Black, Berlin;}

a			{color: black;}

a:hover		{color: black;
			text-decoration: none;}

#template	{margin-left: 25px;}

#header		{height: 100px;
			padding-top: 25px;
			background-color: green;
			color: white;}
			

			
#navList	{border-right: solid green 1px;
			padding-left: 30px;}
			
.navItem	{border-bottom: solid green 1px;
			padding: 26px;
			color: green;
			font-size: 20px;}
	
.navClick	{color: black;
			text-decoration: none;}
			
.navClick:hover	{color: green;
				text-decoration: none;}
			
li.headerLi	{list-style-type: none;
			display: inline;}
			
#logo		{font-size: 28pt;}
			
#camp		{color: white;
			font-size: 32pt;
			font-family: Batang, Century, Times;}

#logout		{text-align: right;
			font-size: 11pt;}

table.bodyTable		{width: 80%;
					margin: 0 auto;}

hr			{width: 150px;
			margin: 0;}
			
ul			{list-style-type: none;
			padding: 0;}
			

#todayAttendance	{width: 33%;}


#links		{width: 34%;
			text-align: right;}
			
hr#right	{text-align:right;
			margin-left: 365px;}

h2			{text-align: center;}

a			{text-decoration: none;
			color: black;}

#loginContain		{border: solid black;
					border-radius: 10px;
					background-color: white;}
			
#loginbtn	{background-color: #D3D3D3;
			border-radius: 4px;
			padding: 3px;}

#footer		{width: 100%;
			background-color: green;
			color: white;
			font-size: 18pt;
			text-align: center;
			font-family: Consolas, Cooper Black, Berlin;
			/*position: fixed;
			bottom: 0px;*/}
			
