body		{font-family: "Toms Handwriting", Cooper Black, Berlin;}

#header		{width: 100%;
			height: 100px;
			padding-top: 25px;
			background-color: green;
			color: white;}

#headerList	{margin-left: 10px;
			padding-top: 0;
			margin-bottom: 5px;}
			
li.headerLi	{list-style-type: none;
			display: inline;}
			
#logo		{font-size: 28pt;}
			
#camp		{color: white;
			font-size: 32pt;
			font-family: Batang, Century, Times;}

#logout		{text-align: right;
			font-size: 11pt;}

table.bodyTable		{width: 80%;
					margin: 0 auto;}

hr			{width: 150px;
			margin: 0;}
			
ul			{list-style-type: none;
			padding: 0;}
			

#todayAttendance	{width: 33%;}

#activites	{width: 33%;
			padding: 0;
			color: white;
			background-color: black;
			border: solid red 3px;
			border-radius: 15px;
			text-align: center;}

#links		{width: 34%;
			text-align: right;}
			
hr#right	{text-align:right;
			margin-left: 365px;}

h2			{text-align: center;}

a			{text-decoration: none;
			color: black;}

#loginContain		{margin: 70%;
			border: solid black 2px;
			border-radius: 10px;
			width: 20%;
			padding: 9px;
			margin-top: 100px;
			background-color: white;
			background-repeat: no-repeat;}
			
#loginbtn	{background-color: #D3D3D3;
			border-radius: 4px;
			padding: 3px;}

#loginPage		{background-image: url('kids-having-fun.jpg');}

#footer		{width: 100%;
			background-color: green;
			color: white;
			font-size: 18pt;
			text-align: center;
			font-family: Consolas, Cooper Black, Berlin;
			position: fixed;
			bottom: 2px;}
			
