<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body id="loginPage">
		<div id="header">
			<ul id="headerList">
				<li class="headerLi"><span id="logo"><a href="login">Virtual<span id="camp">Camp</span></a></span></li>
				<li class="headerLi"><a href="about">About</a></li>
				<li class="headerLi"><a href="contact">Contact Us</a></li>
			</ul>
		</div>
		
		About Virtual Camp:
		
		We are awesome
		
	</body>
</html>