<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<div id="header">
			Virtual<span id="title">Camp</span><span id="logout"><a href="index.php">logout</a></span>
		</div>
		<h1>Shelbyville Parks Dept. Day Camp</h1>
		<table>
			<tr>
				<td id="todayAttendance">
				<ul>
					Today's Attendance
					<hr />

					{% for row in attendance %}
					<li>{{row["First Name"]}} {{row["Last Name"]}} {{row["Tribe"]}}</li>
					{% endfor %}
					
					</ul></td>
					<td id="links">
					<ul>
					Links
					<hr id="right"/>
					<li></li>
					</ul></td>
					</tr>
					</table>

					<div id="footer">
					[Copyright info] [other junk]<span id="logout">Logout</span>
					</div>
					</body>

					</html>
				