<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body id="loginPage">
		<div id="header">
			<h1><a href="login">Virtual<span id="title">Camp</span></a></h1>
			<a href="about">About</a>
			<a href="contact">Contact Us</a>
		</div>
		Phone: 1-800-SuckIt
		email: virtualcamp@vcamp.org
		fax: really?
		
		1234 We don't really exist St., Terre Haute, IN 47803
		
	</body>	
</html>