<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body id="index">
		<div id="header">Virtual<span id="title">Camp</span></div>
		<div id="login">
			<h2>Welcome to My<span id="title">Camp</span></h2>
			Username: <input type="text" name="user"><br>
  			Password: <input type="text" name="password"><br>
  			<a id="loginbtn" href="/attendance" method="get">Login</a>
		</div>
	</body>
	
</html>