<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body id="loginPage">
		<div id="header">
			<ul id="headerList">
				<li class="headerLi"><span id="logo"><a href="login">Virtual<span id="camp">Camp</span></a></span></li>
				<li class="headerLi"><a href="about">About</a></li>
				<li class="headerLi"><a href="contact">Contact Us</a></li>
			</ul>
		</div>
		
		<table id="loginLayout">
			<tr>
				<td>
					<div id="imageContain">
						
					</div>
				</td>
				
				<td>
					<div id="loginContain">
						<h2>Log in</h2>
						<hr />
						<br />
						<form action="login" method=post enctype=multipart/form-data>
							<input id="usernameInput" type="text" name="username" placeholder="username" /><br />
				  			<input id="passwordInput" type="text" name="password" placeholder="password" /><br /><br />
				  			<!-- <button id="loginbtn" onclick="attemptLogin();">Login</button> -->
				  			<input type="submit" value="Sign in" />
			  			</form>
						
							<!-- <p><input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
							   </p> -->
					</div>
				</td>
			</tr>
		</table>
		
	</body>

	<script>
	function attemptLogin() {
		var username = document.getElementById("usernameInput").value;
		var password = document.getElementById("passwordInput").value;
	
		"/login" post
	}
	</script>
	
</html>