{% extends "base.html" %}
{% block content %}
<div class="col-md-8" id="body">
	<h1 id="schedHead"><small><a onmousedown="goToPrevWeek();">previous week</a></small> 
						<span id="currentWeek">This Week's</span> Schedule
						<small><a onmousedown="goToNextWeek();">next week</a></small></h1>
	<a href="setSchedule">Set Schedule</a>
    <div id="scheduleCont">
    	<div id="scheduleWrap">
	        <div class="day"><h3>Monday</h3>
	        	
	        </div>
	        <div class="day"><h3>Tuesday</h3>
	        	
	        </div>
	        <div class="day"><h3>Wednesday</h3>
	        	
	        </div>
	        <div class="day"><h3>Thrusday</h3>
	        	
	        </div>
	        <div class="day"><h3>Friday</h3>
	        	
	        </div>
    	</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
	<script>
		function goToPrevWeek() {
			
		}
		function goToNextWeek() {
			
		}
	</script>
{% endblock %}

				