{% extends "base.html" %}
{% block content %}
<div class="col-md-8" id="body">
	<h1 id="schedHead"><small><a onmousedown="goToPrevWeek();">previous week</a></small> 
						<span id="currentWeek">This Week's</span> Schedule
						<small><a onmousedown="goToNextWeek();">next week</a></small></h1>
	<a href="setSchedule">Set Schedule</a>
    <div id="scheduleCont">
    	<div id="scheduleWrap">
	        <div class="day"><h3>Monday</h3>
	        	{% for row in schedule %}
	        	<li>{{row}}</li>
	        	{% endfor %}
	        	<!-- <div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Worker
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				{% for row in themes %}
				<li id='{{row['Name']}}'><a onmousedown="setAsSelected('{{row['Name']}}');">{{row['Name']}}</a></li>
				{% endfor %}
			</ul>
		</div> -->
	        </div>
	        <div class="day"><h3>Tuesday</h3>
	        	
	        </div>
	        <div class="day"><h3>Wednesday</h3>
	        	
	        </div>
	        <div class="day"><h3>Thursday</h3>
	        	
	        </div>
	        <div class="day"><h3>Friday</h3>
	        	
	        </div>
    	</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
	<script>
		function goToPrevWeek() {
			
		}
		function goToNextWeek() {
			
		}
	</script>
{% endblock %}

				