<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<div id="header">
			<ul id="headerList">
				<li class="headerLi"><span id="logo"><a href="login">Virtual<span id="camp">Camp</span></a></span></li>
				<li class="headerLi">|</li>
				<li class="headerLi">Shelbyville Parks Dept. Day Camp</li>
				<li class="headerLi"><a href="about">About</a></li>
				<li class="headerLi"><a href="contact">Contact Us</a></li>
			</ul>
		</div>
		
		<table>
			<tr>
				<td>
					<ul id="navList">
						<li><a href="attendance">Home</a></li>
						<li><a href="schedule">Work Schedule</a></li>
						<li><a href="upload">Upload</a></li>
						<li><a href="settings">Settings</a></li>
					</ul>
				</td>
				
				<td id="setSchedule">
					Setting Schedule stuff
				</td>
			</tr>
		</table>

		<div id="footer">
			[Copyright info] [other junk]<span id="logout">Logout</span>
		</div>
	</body>

</html>
				