<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename=session['theme']) }}" type="text/css" rel="stylesheet" />
		<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="row" id="header">
			<div class="col-md-1"></div>
			<div class="col-md-4"><span id="logo"><a href="attendance">Virtual<span id="camp">Camp</span></a></span></div>
			<div class="col-md-1"></div>
			<div class="col-md-2">Shelbyville Parks Dept. Day Camp</div>
			<div class="col-md-1">Hello, {{session['name']}}</div>
			<div class="col-md-2"><a href="about">About</a>
				|
			<a href="contact">Contact Us</a></div>
			<div class="col-md-1"><a href="login">logout</a></div>
		</div>
		
		<div class="row">
			<div class="col-md-2" id="navList">
				<ul>
					<li class="navItem"><a class="navClick" href="attendance">Home</a></li>
					<li class="navItem"><a class="navClick" href="schedule">Work Schedule</a></li>
					<li class="navItem"><a class="navClick" href="upload">Upload</a></li>
					<li class="navItem"><a class="navClick" href="settings">Settings</a></li>
				</ul>
			</div>
			<div class="col-md-8" id="body">
				<h2>Set Color Theme</h2>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Theme
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{% for row in themes %}
						<li id='{{row['Name']}}'><a onmousedown="setAsSelected('{{row['Name']}}');">{{row['Name']}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<br />
				<button id="" onclick="attemptSaveTheme('{{session['id']}}');">Save</button>
				<br />
				<p id="themeMessage" style="display: none;"></p>
				
				<br />
				<br />
				
				<h2>Change Password</h2>
				<input type="password" id="oldPass" placeholder="current password" />
				<br />
				<br />
				<input type="password" id="newPass" placeholder="new password" />
				<input type="password" id="confirmPass" placeholder="confirm password" />
				<button onclick="attemptChangePass('{{session['id']}}');">Save</button>
				<br />
				<p id="passMessage" style="display: none;"></p>
			</div>
		</div>
	</body>

	<script>
		function attemptSaveTheme(id) {
			var message = document.getElementById("themeMessage");
			var selected = document.getElementById("selected");
			if(selected == null) {
				message.style.display = 'initial';
				message.className = "badMessage";
				message.textContent = "You must select a theme to save!";
				setTimeout(function(){
				    document.getElementById("themeMessage").style.display = 'none';
				}, 3000);
			} else {
				selected.id = selected.textContent;
				var themeName = selected.textContent;
				var formData = new FormData();
				formData.append("theme", themeName);
				formData.append("id", id);
				
				$.ajax({
					type: "POST",
					url : "/settingsTheme",
					data: formData,
					contentType : false,
					processData : false,
					success: function(result){
						message.className = "goodMessage";
						message.textContent = "You saved your theme! Refresh the page to see it!";
						message.style.display = 'initial';	
					}
				});
			}
		}
		
		function setAsSelected(theme) {
			var selected = document.getElementById(theme);
			selected.id = "selected";
		}
		
		function attemptChangePass(id) {
			var message = document.getElementById("passMessage");
			var newPass = document.getElementById("newPass");
			var oldPass = document.getElementById("oldPass");
			
			var confirm = document.getElementById("confirmPass");
			
			if(newPass.value == "" || confirm.value == "" || oldPass.value == "") {
				message.style.display = 'initial';
				message.className = "badMessage";
				message.textContent = "You cannot leave anything blank!";
				setTimeout(function(){
				    document.getElementById("passMessage").style.display = 'none';
				}, 3000);
			}else if(newPass.value != confirm.value){
				message.style.display = 'initial';
				message.className = "badMessage";
				message.textContent = "Your passwords do not match!";
				setTimeout(function(){
				    document.getElementById("passMessage").style.display = 'none';
				}, 3000);
			} else {
				newP = newPass.value;
				old = oldPass.value;
				var formData = new FormData();
				formData.append("pass", newP);
				formData.append("old", old);
				formData.append("id", id);
				
				$.ajax({
					type: "POST",
					url : "/settingsPassword",
					data: formData,
					contentType : false,
					processData : false,
					success: function(result){
						if(result == "worked") {
							message.className = "goodMessage";
							message.textContent = "Your password was changed successfully";
							message.style.display = 'initial';
							setTimeout(function(){
							    document.getElementById("passMessage").style.display = 'none';
							    newPass.value = "";
							    oldPass.value = "";
							    confirm.value = "";
							}, 3000);							
						}else{
							message.className = "badMessage";
							message.textContent = "You lied! You gave us the wrong password!";
							message.style.display = 'initial';
							setTimeout(function(){
							    document.getElementById("passMessage").style.display = 'none';
							    newPass.value = "";
							    oldPass.value = "";
							    confirm.value = "";
							}, 3000);
						}
							
					}
				});
			}
		}
	</script>
	
</html>