<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body id="loginPage">
		<div id="header">
			<h1><a href="login">Virtual<span id="title">Camp</span></a></h1>
			<a href="about">About</a>
			<a href="contact">Contact Us</a>
		</div>
		
		<table id="loginLayout">
			<tr>
				<td>
					<div id="imageContain">
						
					</div>
				</td>
				
				<td>
					<div id="loginContain">
						<h2>Sign up for Virtual Camp</h2>
						<hr />
						<br />
						<form action="register" method=post enctype=multipart/form-data>
							<input id="usernameInput" type="text" name="username" placeholder="username" /><br />
				  			<input id="passwordInput" type="text" name="password" placeholder="password" /><br />
				  			<input id="confPasswordInput" type="text" name="confPassword" placeholder="confirm password" /><br />
				  			<input id="fname" type="text" name="fname" placeholder="First Name" /><br />
				  			<input id="lname" type="text" name="lname" placeholder="Last Name" /><br />
				  			<input id="code" type="text" name="code" placeholder="Camp Code" /><br />
				  			<!-- <button id="loginbtn" onclick="attemptLogin();">Login</button> -->
				  			<input type="submit" value="Sign up" />
			  			</form>
						
							<!-- <p><input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
							   </p> -->
					</div>
				</td>
			</tr>
		</table>
		
	</body>

	<script>
	function attemptRegister() {
		
	}
	</script>
	
</html>